# игнорирует файл text.db
text.db
# не рассматривает все файлы с рассширением pdf *
*.pdf 
#  !-не, то есть, кроме sec.txt 
!sec.txt
# все файлы в каталоге build
build/
# игнорирует все файлы в текущей папке
/build
# игнорирует txt файлы в данной папке, но если durr/common/txt не игнорирует
durr/*.txt
# игнорирует все файлы pdf в папке yue
yue/**/*.pdf

#ex
*.db
*.log
/target